.root {
    -fx-font-family: "Linux Libertine";
}

.background {
    -fx-background-color: #F2E9E4;
    background-color: #F2E9E4;
}

.background-with-border {
    -fx-background-color: #F2E9E4;
    -fx-border-width: 4px;
    -fx-border-color: #7D7E75;
}

.background-with-border-dark {
    -fx-background-color: #7D7E75;
    -fx-border-width: 4px;
    -fx-border-color: #7D7E75;
}

.pane-with-border {
    -fx-background-color: #F2E9E4;
    -fx-border-width: 4px;
    -fx-border-color: #7D7E75;
}

.tab-button {
    -fx-font-family: "Linux Libertine Semibold";
    -fx-font-size: 14pt;
    -fx-background-color: #F2E9E4;
    -fx-text-fill: #F2E9E4;
    -fx-background-radius: 30pt;
}

.tab-button :selected { // TODO
    -fx-font-family: "Linux Libertine Semibold";
    -fx-font-size: 14pt;
    -fx-background-color: #7D7E75;
    -fx-text-fill: #CFD6EA;
}

.tab-header-background {
    -fx-background-color:transparent
}

.tab-pane{
    -fx-padding: 0 -1 -1 0
}

.tab-pane-focused :focused {
    -fx-focus-color: #4F5D2F;
}



.section-header {
    -fx-font-family: "Linux Libertine Bold";
    -fx-font-size: 14pt;
    -fx-padding: 4px;
    -fx-background-color: #7D7E75;
    -fx-text-fill: #F2E9E4;
}

.table-header {
    -fx-font-family: "Linux Libertine Semibold";
    -fx-background-color: #605C4E;
    -fx-text-fill: #F2E9E4;
    -fx-font-size: 14pt;
    -fx-padding: 0pt, 5pt, 0pt, 5pt;
    /*-fx-border-color: #7D7E75;*/
}

.menu-bar {
    -fx-font-family: "Linux Libertine Semibold";
    -fx-font-size: 12pt;
    -fx-background-color: #7D7E75;
}

.rounded-cell {
    -fx-font-family: "Linux Libertine Semibold";
    -fx-font-size: 12pt;
    -fx-background-radius: 20pt;
    -fx-border-radius: 20pt;
    -fx-background-color: #F2E9E4;
    -fx-text-fill: #605C4E;
}

.result-window {
    -fx-font-family: "Linux Libertine Semibold";
    -fx-font-size: 12pt;
    -fx-background-radius: 20pt;
    -fx-border-radius: 20pt;
    -fx-background-color: #B0B2B8;
    -fx-text-fill: #605C4E;
}

.result-text-display {
    -fx-background-color: transparent;
    -fx-font-family: "Linux Libertine";
    -fx-font-size: 14pt;
    -fx-text-fill: #605C4E;
}

.status-bar {
    -fx-font-family: "Linux Libertine Semibold";
    -fx-font-size: 12pt;
    -fx-background-radius: 20pt;
    -fx-border-radius: 20pt;
    -fx-background-color: #F2E9E4;
    -fx-text-fill: #605C4E;
    -fx-label-padding: 10, 5, 5, 0;
}

.light_text {
    -fx-font-family: "Linux Libertine Semibold";
    -fx-font-size: 12pt;
    -fx-text-fill: #F2E9E4;
    -fx-background-color: transparent;
}

.text-area {
    -fx-background-color: transparent;
    -fx-font-family: "Linux Libertine";
    -fx-font-size: 14pt;
    -fx-text-fill: #605C4E;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
    -fx-font-family: "Linux Libertine";
    -fx-font-size: 14pt;
    -fx-text-fill: #605C4E;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
    -fx-font-family: "Linux Libertine";
    -fx-font-size: 14pt;
    -fx-text-fill: #605C4E;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
    -fx-font-family: "Linux Libertine";
    -fx-font-size: 14pt;
    -fx-text-fill: #605C4E;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: #B0B2B8;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: derive(#B0B2B8, 20%);
    -fx-text-fill: #605C4E;
}

.list-cell:filled:odd {
    -fx-background-color: #B0B2B8;
    -fx-text-fill: #7D7E75;
}

.list-cell:filled:selected {
    /*-fx-background-color: #B0B2B8;*/
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #B0B2B8;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: #423629;
    -fx-font-size: 14pt;
    -fx-font-family: "Linux Libertine Semibold";
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-background-color: derive(#1d1d1d, 20%);
}

.scroll-bar .thumb {
    -fx-background-color: derive(#1d1d1d, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

/*from darktheme to be changed as necessary*/
#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

/*#commandTextField {*/
/*    -fx-background-color: transparent #383838 transparent #383838;*/
/*    -fx-background-insets: 0;*/
/*    -fx-border-color: #383838 #383838 #ffffff #383838;*/
/*    -fx-border-insets: 0;*/
/*    -fx-border-width: 1;*/
/*    -fx-font-family: "Open Sans Light";*/
/*    -fx-font-size: 13pt;*/
/*    -fx-text-fill: white;*/
/*}*/

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

/*#resultDisplay .content {*/
/*    -fx-background-color: transparent, #383838, transparent, #383838;*/
/*    -fx-background-radius: 0;*/
/*}*/

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane:vertical .split-pane-divider {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-border-color: transparent transparent transparent #4d4d4d;
}